@page "/"

<PageTitle>Bienvenida</PageTitle>

<h1>Bienvenido a mi prueba Técnica, Soy <span>Nelson Muñoz</span></h1>

<div >

    <p>
        <strong>Desarrollador Junior Full Stack</strong> con enfoque en la creación de soluciones robustas y eficientes utilizando tecnologías modernas.
        Cuento con experiencia comprobada en el desarrollo de aplicaciones <strong>.NET Core</strong>, así como también en el desarrollo frontend con <strong>Angular</strong>.
    </p>

    <p>
        Soy una persona <em>autodidacta, comprometida y detallista</em>, con especial interés en la construcción de aplicaciones escalables y mantenibles. Me enfoco en el aprendizaje continuo y en el fortalecimiento de mis habilidades a lo largo del ciclo completo de desarrollo, desde el diseño de interfaces hasta la integración con servicios y bases de datos.
    </p>

    <h3>🛠 Tecnologías y herramientas que manejo:</h3>
    <ul>
        <li><strong>Backend:</strong> .NET 8, ASP.NET Core, Entity Framework Core, LINQ</li>
        <li><strong>Frontend:</strong> Angular, HTML5, CSS3, Tailwind, JavaScript, Java</li>
        <li><strong>Base de datos:</strong> MySQL, PostgreSQL y SQL Server (manejo de consultas, relaciones, procedimientos)</li>
        <li><strong>Servicios:</strong> Integración de APIs RESTful, autenticación mediante <code>Bearer Token</code>, consumo y deserialización de datos JSON</li>
        <li><strong>Control de versiones:</strong> Git, GitHub</li>
    </ul>

    <h3>🚀 Disponibilidad y aspiración</h3>
    <p>
        Estoy dispuesto a asumir retos técnicos con entusiasmo y responsabilidad. Me encuentro disponible para vinculación inmediata. La aspiración salarial que tengo esta por  <strong>$3.000.000 COP</strong> mensuales, aunque estoy abierto a discutirlo según las condiciones del puesto y las oportunidades de crecimiento profesional.
    </p>

    <p>
        Agradezco la oportunidad de participar en el proceso y quedo atento para cualquier comentario via correo.
    </p>

    <p>
        <strong>Nelson Muñoz</strong><br>
        <em>Desarrollador Junior FullStack .NET & Angular</em><br>
    </p>
</div>
