@page "/teoria"

<PageTitle>Teoria</PageTitle>
<h1>Teoria de Prueba Técnica</h1>

<div>
    <p>El objetivo es desarrollar una aplicación en Blazor Web App que se conecte a la siguiente API REST:</p>

    <ul>
        <li>
            API: https://mainserver.ziursoftware.com/Ziur.API/basedatos_01/ZiurServiceRest.svc/api/DocumentosFillsCombos
        </li>
        <li>
            Bearer Token: ae8bad44-7348-11ee-b962-0242ac120002
        </li>
    </ul>

    <p>Me brindan un Token de Autenticación para poder conectarme a la API RESt, usando Bearer Token</p>
    <p>El objetivo es desplegar en una grilla los datos que devuelve la API, como en este ejemplo:</p>
    <img width="60%" src="img/json.png" alt="Imagen" />

</div>

